*.class
*.log
.bash_history
.devcontainer/nix.tar.gz
.gitconfig
.nix-defexpr/
.ssh/
.vscode-server/
.sbt
.bloop
.bsp
.metals
**/metals.sbt
mounts/src/.singularity
mounts/src/project/project
target/
metals.sbt
*.h5

